<header header-scroll>
    <div class="navbar registration">
        <div class="container">
            <ul class="authorization navbar-right">
                <li><a href="" ng-click="ctrl.openLoginPopup()">Вход</a></li>
                <li><a ui-sref="dashboard.contacts">Контакты</a></li>
                <li class="cartWrap"><a ui-sref="dashboard.card"><img src="img/resources/img/cart.png" class="cart" alt="cart" name="cart"/> {{ctrl.cardStorage.itemsAmount}} товаров
                    <strong>{{ctrl.cardStorage.resultPrice}}</strong><i class="fa fa-rub"></i></a></li>
            </ul>
        </div>
    </div>
    <nav class="navbar allNav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="dashboard.main"><img src="img/resources/img/logo.png" alt="unity-dana" name="unity-dana"/></a>

            </div>
            <div id="navbar" class="navbar-collapse halfNav vv collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a ui-sref="dashboard.categories">Тематика</a></li>
                    <li><a ui-sref="dashboard.catalog">Продукция</a></li>
                    <li><a ui-sref="dashboard.post({url:'info'})">Информация</a></li>
                    <li><a ui-sref="dashboard.post({url:'about-us'})">Об издательстве</a></li>
                    <li>
                        <form class="navbarForm" ng-submit="ctrl.search()">
                            <input type="text" ng-model="ctrl.query"  placeholder="Поиск"/>
                            <span ng-click="ctrl.search()"></span>
                        </form>
                    </li>
                    <li class="cartScroll">
                        <a ui-sref="dashboard.card">
                            <img src="img/resources/img/cart.png" class="cart" alt="cart" name="cart"/> {{ctrl.cardStorage.itemsAmount}}
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>