<div class="contentWraper cartPage container">
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
    <div class="row cartWrap">
        <div class="col-md-12">
            <div class="row">
                <form ng-submit="ctrl.createOrder()">
                    <div class="col-md-8">

                        <div class="inCartWrapper">
                            <h2>Вы успешно оформили заказ.<br/> В ближайшее время мы с Вами свяжемся.</h2>
                           <div class="row">
                            <div class=" col-md-12">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <td>Заказ № {{ctrl.history.id}} </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in ctrl.history.goods">
                                            <td ng-bind="item.name">Высшая математика для экономистов. 3-е изд., перераб. и доп. Учебник. Гриф МО РФ. 
                                            </td>
                                            <td ng-bind="item.amount +' шт'">99 шт.</td>
                                            <td ng-bind="item.price*item.amount + ' руб.'">12000 р.</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    
                                </div>
                            </div>
                         </div>


                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="regWrap">
                           <!--  <h3>Итого: 800 <i class="fa fa-rub"></i> </h3> -->
                            <input type="email" ng-model="ctrl.email" placeholder="Эл. Почта" required/ disabled>
                            <input type="text" ng-model="ctrl.phone" placeholder="Телефон" required/ disabled>
                        </div>
                        <div class="regWrap">
                            <h3>Оформление заказа</h3>

                            <form>

                                <input type="radio" class="samovivoz" name="raz" id="samovivoz" checked/>
                                <label for="samovivoz">
                                    <p>самовывоз</p>

                                    <p class="info">
                                        Товар можно забрать по адресу:<br/>
                                        Москва, ул. Ирины Левченко,дом 1<br/>
                                        С понедельника по пятницу с 10.00 до 18.00
                                    </p></label>
                                <br/>
                            </form>
                        </div>
                        <div class="regWrap white">
                            <h3>Оплата:<br/><span> Безналичный расчет</span></h3>
                            <h3>Реквизиты:<br/><span ng-bind-html="ctrl.req_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</span></h3>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>