<div class="contentWraper container cataloguePage detail">
    <div class="row">
        <div class="col-md-12">
            <div class="broad">
                <a><span>Тематика</span></a> 
                <!-- / <a><span ng-bind="::ctrl.categoryName"></span></a> -->
            </div>
        </div>
    </div>
	<div class="row" style="padding-top: 15px;">
        <div class="col-md-12">
		     <ul class="category" ng-repeat="category in ctrl.categories | orderBy:'name'" >
	        	
                <li class="title" > 
                    <a href="" ui-sref="dashboard.catalog({category: category.id})" class="gir">{{::category.name}} ({{::category.amount}})</a>
	        		<ul ng-show="category.categories">
	        			<a ui-sref="dashboard.catalog({category:subCategory.id})" href="" ng-repeat="subCategory in category.categories | orderBy:'name'"><li 
                          ng-bind="subCategory.name"></li></a>
	        		</ul>
	        	</li>
	        </ul>
        </div>
    </div>
</div>


<div month-new-goods="ctrl.newGoods"></div>


