<div class="contentWraper container cataloguePage detail">
    <div class="row">
        <div class="col-md-12">
            <div class="broad">
                <a><span>Тематика</span></a> 
                <!-- / <a><span ng-bind="::ctrl.categoryName"></span></a> -->
            </div>
        </div>
    </div>
	<div class="row">
        <div class="col-md-12">
		     <ul class="category" ng-repeat="category in ctrl.categories" >
	        	<a href=""><li class="title" ui-sref="dashboard.catalog({category: category.id})"> {{::category.name}} ({{::category.amount}})
	        		<ul ng-show="category.categories">
	        			<a href=""><li ng-repeat="subCategory in category.categories" ui-sref="dashboard.catalog({category: subCategory.id})" ng-bind="subCategory.name"></li></a>
	        		</ul>
	        	</li></a>
	        </ul>
        </div>
    </div>
</div>


<div month-new-goods="ctrl.newGoods"></div>


