<div class="contentWraper container cataloguePage detail">
    <div class="row">
        <div class="col-md-12">
            <div class="broad">
                <a><span>Тематика</span></a> 
                <!-- / <a><span ng-bind="::ctrl.categoryName"></span></a> -->
            </div>
        </div>
    </div>

	<!-- ui-sref="dashboard.catalog({category: category.id})" -->
	<div class="row">
        <div class="col-md-12">
        	<accordion close-others="true" class="collapseParth">
		        <accordion-group is-open="isopen" ng-repeat="category in ctrl.categories">
		          <accordion-heading>
		            {{::category.name}} ({{::category.amount}})
		          </accordion-heading>
		          <div > <!-- ng-repeat="subitem in item.subitems" -->
		          	<ul>
		            <li><a href=""> Не знаю что тут будет</a></li>
		            <li><a href="">Не знаю что тут будет</a></li>
		            <li><a href="">Не знаю что тут будет</a></li>
		          </ul>
		          </div>
		        </accordion-group>
		     </accordion>
        </div>
    </div>
    


</div>


<div month-new-goods="ctrl.newGoods"></div>


