<div class="contentWraper container">
    <div class="row">
        <div class="col-sm-12 col-md-12 main">
            <div class="bookCarousel">
                <slick slides-to-show="7" autoplay="true" center-padding="60px">
                    <div class="item" ng-click="$state.go('dashboard.details', {id: hit.id})" style="background-image:url('{{hit.image_url}}');" ng-repeat="hit in ctrl.hits"></div>
                </slick>
            </div>
        </div>
    </div>
    <div class="row">
        <div bottom-nav-bar></div>
    </div>
</div>


<div month-new-goods="ctrl.newGoods"></div>

<section class="MailSec">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Подписаться на рассылку</h1>

                <div class="formWrap">
                    <ul>
                        <li>
                            <input ng-model="ctrl.novelty" type="checkbox" checked="checked" id="c1" name="cc"/>
                            <label for="c1"><span></span>Новинки месяца</label>
                        </li>
                        <li>
                            <input ng-model="ctrl.price" type="checkbox" checked="checked" id="c2" name="cc"/>
                            <label for="c2"><span></span>Прайс лист (MS Excel)</label>
                        </li>
                        <li>
                            <input ng-model="ctrl.email" type="text" placeholder="Логин" class="text"/>
                        </li>
                    </ul>
                    <button class="grayBtn" ng-click="ctrl.subscribe()">Подписаться</button>
                </div>
            </div>
        </div>
    </div>
</section>

