<div class="modal-header">
    <button type="button" ng-click="ctrl.close()" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h2 class="modal-title text-center" id="myModalLabel">Регистрация</h2>
</div>
<div class="modal-body">
    <form name="authorizationForm" ng-submit="ctrl.send()" class="authorizationForm" ng-init="ctrl.form = {}">
        <input type="email" ng-model="ctrl.form.email" placeholder="Электронная почта" required/>
        <input type="password" minlength="8" ng-model="ctrl.form.password" placeholder="Пароль" required/>
        <input type="password" minlength="8" ng-model="ctrl.form.passwordConfirmation" placeholder="Подтверждение пароля" required/>

        <div class="selectType">
            <input type="radio" id="radioOne" name="entry.1152934664"
                   ng-model="ctrl.legal" ng-value="false" checked="checked" class="hide-radio"/>
            <label for="radioOne">физ. лицо</label>
            <input type="radio" id="radioDva" name="entry.1152934664"
                   ng-model="ctrl.legal" ng-value="true" class="hide-radio"/>
            <label for="radioDva">юр. лицо</label>

        </div>

        <p ng-bind="ctrl.errorText"></p>
        <button type="submit" class="mainBtn">Зарегистрироваться</button>
    </form>
</div>