<div class="contentWraper container cataloguePage detail">
    <div class="row">
        <div class="col-md-12">
            <div class="broad">
                <a><span>Продукция</span></a> 
                <a ng-show="ctrl.item.supercategory_name" ui-sref="dashboard.catalog({category: ctrl.item.supercategory_id})">
                <span ng-bind="::ctrl.item.supercategory_name"></span>
                </a> 
                
                <a ui-sref="dashboard.catalog({category: ctrl.item.category_id})">
                <span ng-bind="::ctrl.item.category_name"></span>
                </a> /
                <a><span ng-bind="::ctrl.item.name"></span></a>
            </div>
            <hr class="hrDet" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
           <a href="#"> <!-- MODAL HERE  -->
                <div class="bgDetailImg"
                    style="background-image: url('{{ctrl.item.image}}'); height: 370px; ">
                </div>
            </a>
            <!-- <ul class="pdfParth text-center">
                <a href="">
                    <li>купить PDF версию</li>
                    <li><img src="/img/resources/img/pdf.png" alt="pdf" title="pdf"/></li>
                </a>
                <a href="" class="dop">
                    <li>Дополнительные материалы к книге</li>
                </a>
            </ul> -->

        </div>
        <div class="col-md-7">
            <p><strong ng-bind="::ctrl.item.name"></strong></p>
            <p ng-bind-html="ctrl.item.text"></p>
            
            <!-- <p ng-bind-html="ctrl.item.content"></p> -->
        </div>
    </div>
    <div class="row" style="padding: 50px 0;">
        <div class="col-md-3" ng-show="ctrl.item.niion">
            <p>Классификатор NIION</p>
            <p ng-bind="ctrl.item.niion"></p>
        </div>
        <div class="col-md-3" ng-show="ctrl.item.periodicity">
            <p>Периодичность</p>
            <p ng-bind="ctrl.item.periodicity"></p>
        </div>
        <div class="col-md-3" ng-show="ctrl.item.specialization">
            <p>Специализация</p>
            <p ng-bind="ctrl.item.specialization"></p>
        </div>
        <div class="col-md-3" ng-show="ctrl.item.profile">
            <p>Профиль журнала</p>
            <p ng-bind="ctrl.item.profile"></p>
        </div>
    </div>
    <div class="row">
        
<div class="col-sm-12 col-xs-12 col-md-12">
        <v-accordion class="vAccordion--default" ng-repeat="r in ctrl.rubrics" >
            <v-pane>
                <v-pane-header >
                  <div ng-bind="r.title" ></div>
                </v-pane-header>
                <v-pane-content >
                    <div ng-bind-html="r.text">
                    </div>
                </v-pane-content>
            </v-pane>
        </v-accordion>
    </div>
 </div>   
    <div class="row" style="margin-bottom: 150px;">
        <div class="col-md-12">
            <h2>Все выпуски</h2>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3" ng-repeat="i in ctrl.item_other" style="border-bottom: 1px solid rgb(238, 238, 238); padding-top: 30px; padding-bottom: 30px;">
            <figure class="newProduct" style="height: 450px;">
                <a  href="{{i.pdf}}" target="_blank">
                    <div class="bgWrap " >
                        <div class="bg"  style="background-image:url('{{i.image}}'); background-size: 100%; background-repeat: no-repeat; "></div>
                    </div>
                    <figcaption>
                        <p style="min-height: 135px;">{{::i.title }}</p>
                        <p class="text-center"><strong>{{::i.price}} руб.</strong></p>
                    </figcaption>
                </a>
                <div buy-button item="i"></div>
            </figure>
        </div>
    </div>
</div>

<!-- <div month-new-goods="ctrl.newGoods"></div> -->