<div class="contentWraper cartPage container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Корзина</h1>
        </div>
    </div>
    <div class="row cartWrap">
        <div class="col-md-12">
            <div class="row">
                <form ng-submit="ctrl.createOrder()">
                    <div class="col-md-8">
                        <div class="inCartWrapper" ng-show="ctrl.goods.length">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                    <tr ng-repeat="item in ctrl.goods">
                                        <td ng-bind="::item.name"></td>
                                        <td>99 шт.</td>
                                        <td ng-bind="::item.price + ' р.'">12000 р.</td>
                                        <td ng-click="ctrl.removeItem(item)">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <button type="submit" class="grayBtn">Оформить заказ</button>
                            </div>
                        </div>
                        <div class="inCartWrapper" ng-show="!ctrl.goods.length">
                            <h1>Корзина пуста</h1>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="regWrap">
                            <h3>Итого: {{ctrl.cardStorage.resultPrice}} <i class="fa fa-rub"></i> </h3>



                            <input type="email" ng-model="ctrl.email" placeholder="Эл. Почта" required/>
                            <input type="text" ng-model="ctrl.phone" placeholder="Телефон" required/>
                            <input type="checkbox" ng-model="ctrl.registration" id="checkIn" checked/>
                            <label for="checkIn">Зарегистрироваться</label>

                        </div>
                        <div class="regWrap">
                            <h3>Оформление заказа</h3>

                            <form>

                                <input type="radio" class="samovivoz" name="raz" id="samovivoz" checked/>
                                <label for="samovivoz">
                                    <p>самовывоз</p>

                                    <p class="info">
                                        Товар можно забрать по адресу:<br/>
                                        Москва, ул. Ирины Левченко,дом 1<br/>
                                        С понедельника по пятницу с 10.00 до 18.00
                                    </p></label>
                                <br/>

                                <!--<input type="radio" name="raz" class="russianPost" id="russianPost"/>
                                <label for="russianPost">
                                    <p>почта России</p>
                                    <input type="text" placeholder="Адрес доставки"/>
                                </label>-->
                            </form>
                        </div>
                        <div class="regWrap white">
                            <h3>Оплата:<br/><span> Безналичный расчет</span></h3>
                            <h3>Реквизиты:<br/><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</span></h3>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>