<div class="contentWraper container cataloguePage">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 name="top">Каталог</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="mixing">
                <p>Сортировать:</p>
                <ul>

                    <li class="active">по популярности</li>
                    <li>по цене</li>
                    <li>по новизне</li>
                </ul>
            </div>
            <hr/>
        </div>
    </div>
</div>
<div class="container airBottom">
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3" ng-repeat="item in ctrl.items">
            <figure class="newProduct">
                <a href="">
                    <div class="bgWrap" style="background-image: url('{{item.image_url}}');"></div>
                    <figcaption>
                        <p ng-bind="::item.name">Высшая математика для экономистов. 3-е изд., перераб. и доп. Учебник.
                            Гриф МО РФ. (Серия
                            "Золотой фонд российских учебников")</p>

                        <p class="text-center"><strong>{{::item.price}} руб.</strong></p>
                    </figcaption>
                </a>
                <div buy-button item="item"></div>
            </figure>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="LoadMoreBtns">
                <button ng-click="ctrl.loadMore()">Загрузить ещё</button>
                <a href="#top" class="mainBtn">Вернуться наверх</a>
            </div>
        </div>
    </div>
</div>