<div class="contentWraper container cataloguePage">
    <div class="row">
        <div class="col-md-12">
            <div class="broad">
                <a><span>Продукция</span></a> 
                <!-- / <a><span ng-bind="::ctrl.categoryName"></span></a> -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="mixing">
                <ul>
                    <li ng-class="{'active' : ctrl.sort == 'popularity'}" ng-click="ctrl.sortBy('popularity')">по популярности</li>
                    <li ng-class="{'active' : ctrl.sort == 'price'}" ng-click="ctrl.sortBy('price')">по цене</li>
                    <li ng-class="{'active' : ctrl.sort == 'date'}" ng-click="ctrl.sortBy('date')">по новизне</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container airBottom">
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3" ng-repeat="item in ctrl.items">
            <figure class="newProduct">
                <a  ui-sref="dashboard.details({id: item.id})">
                    <div class="bgWrap" ng-class="{v2:item.type === 'v2'}" >
                        <div class="bg"  style="background-image:url('{{item.image_url}}'); {{item.textbook ? 'height: 150px;':'height: 200px;'}}; background-size: 100%; background-repeat: no-repeat; "></div>
                    </div>
                    <figcaption>

                        <p>{{::item.name | limitTo:50}}</p>
                        <p class="text-center"><strong>{{::item.price}} руб.</strong></p>
                    </figcaption>
                </a>
                <div buy-button item="item"></div>
            </figure>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="LoadMoreBtns">
                <button ng-hide="ctrl.hideDownloadButton" ng-click="ctrl.loadMore()">Загрузить ещё</button>
                <a href="#top" class="mainBtn">Вернуться наверх</a>
            </div>
        </div>
    </div>
</div>