<div class="contentWraper cartPage container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Восстановление пароля</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="feedbackWrap restorePas">
                <h3 class="text-center" ng-bind="ctrl.errorText" style="color: red;"></h3>
                <form class="rec_pass" ng-submit="ctrl.sendPass()">
                    <input required="required" type="text" name="" ng-model="ctrl.token" class="" placeholder="Код подтверждения" />
                    <input required="required" type="text" name="" ng-model="ctrl.newPass" class="" placeholder="Новый пароль" />
                    <input required="required" type="text" name="" ng-model="ctrl.newPassTwo" class="" placeholder="Подтверждение" />
                    <button class="mainBtn">Изменить</button>
                </form>
                
            </div>
        </div>
    </div>
</div>